<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-bus" aria-hidden="true">
      Bus Line Overview: #{busLineName busLine}

  <div .panel-body>
    <p> #{busLineDescription busLine}
    <p> Signups: #{occupancyNbSignedUp occupancy}
    <p> Fully Paid: #{occupancyNbAllPaid occupancy}
    <p> Seats left: #{busLineSeats busLine - length (occupancySignups occupancy)}
    <p> Total seats: #{busLineSeats busLine}

<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-bus" aria-hidden="true">
      Stops
  <table
    .table>
    <tr>
      <th> City
      <th> Location
      <th> Morning
      <th> Evening
      <th> Wednesday
      <th> Signups
      <th> Fully Paid
    $forall (busLineStop, busStop, busStopOccupancy) <- busStopTups
      <tr>
        <td>
          #{busStopCity busStop}
        <td>
          #{busStopLocation busStop}
        <td>
          #{busLineStopMorningTime busLineStop}
        <td>
          #{busLineStopEveningTime busLineStop}
        <td>
          #{busLineStopWednesdayTime busLineStop}
        <td>
          #{occupancyNbSignedUp busStopOccupancy}
        <td>
          #{occupancyNbAllPaid busStopOccupancy}

<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-child" aria-hidden="true">
      Occupancy
  <table
    .table>
    <tr>
      <th> First Name
      <th> Last Name
      <th> Paid
    $forall (Entity _ child, ps) <- occupancySignups occupancy
      <tr .#{statusClass ps}>
        <td>
          #{childFirstName child}
        <td>
          #{childLastName child}
        <td>
          $case ps
            $of NoPaymentNecessary
              Not necessary
            $of FractionPaid n d
              #{fmtAmount n} / #{fmtAmount d}
            $of NoPaymentsYet
              0
