
<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-calendar" aria-hidden="true">
      Daycare Semestre Overview: #{semestreText $ daycareSemestreSemestre daycareSemestre} #{schoolYearText $ daycareSemestreYear daycareSemestre}

  <div .panel-body>
    <a .btn .btn-default href=@{AdminR $ AdminDaycareTimeslotsR sid}>
      Timeslots

    <a .btn .btn-default href=@{AdminR $ AdminDaycareActivitiesR sid}>
      Activities
