<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-user" aria-hidden="true">
      Accounts

  <table
    .table>
    <tr>
      <th> EmailAddress
      <th .col-md-1> 
      <th .col-md-1> 
    $forall (Entity aid acc) <- accounts
      <tr> 
        <td>
          #{accountEmailAddress acc}
        <td>
          <a .btn .btn-default href=@{AdminR $ AdminAccountR aid}>
            Overview
        <td>
          <form
            method="post"
            action=@{AdminR $ AdminAccountImpersonateR aid}>
            ^{token}
            <button .btn .btn-danger
              type="submit">
              Impersonate
