<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-bus" aria-hidden="true">
      School Year

  <div .panel-body>
    <p>
      Select a school year
    <ul>
      $forall E.Value sy <- sys
        <li>
          <a .btn .btn-default href=@{AdminR $ AdminBusEnrollmentsYearR sy}>
            Overview for #{schoolYearText sy}

<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-bus" aria-hidden="true">
      Day

  <div .panel-body>
    <form
      .form
      method="get"
      action=@{AdminR AdminBusEnrollmentsDayR}
      enctype=#{formEnctype}>
      ^{formWidget}
      <div .form-group>
        <button
          type="submit"
          .btn 
          .btn-primary>
            Search
