<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-bus" aria-hidden="true">
      Bus Stops

  <div .panel-body>
    <a href=@{AdminR $ AdminRegisterBusStopR} .btn .btn-default>
      Register Bus Stop

  <table
    .table>
    <tr>
      <th> City
      <th> Location
      <th .col-md-1>
      <th .col-md-1>
      <th .col-md-1>
    $forall (Entity busStopId busStop) <- busStops
      <tr :busStopArchived busStop:.danger>
        <td>
          #{busStopCity busStop}
        <td>
          #{busStopLocation busStop}
        <td>
          <a .btn .btn-default href=@{AdminR $ AdminBusStopR busStopId}>
            Edit
        <td>
          <form
            method="post"
            action=@{AdminR $ AdminBusStopArchiveR busStopId}>
            ^{token}
            <button .btn .btn-default :busStopArchived busStop:disabled
              type="submit">
              Archive
        <td>
          <form
            method="post"
            action=@{AdminR $ AdminBusStopUnarchiveR busStopId}>
            ^{token}
            <button .btn .btn-default :not $ busStopArchived busStop:disabled
              type="submit">
              Un-Archive

