<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-language" aria-hidden="true">
      Language Sections

  <div .panel-body>
    <a href=@{AdminR $ AdminRegisterLanguageSectionR} .btn .btn-default>
      Register Language Section

  <table
    .table>
    <tr>
      <th> Name
      <th .col-md-1>
      <th .col-md-1>
    $forall (Entity languageSectionId languageSection) <- languageSections
      <tr>
        <td>
          #{languageSectionName languageSection}
        <td>
          <a .btn .btn-default href=@{AdminR $ AdminLanguageSectionR languageSectionId}>
            Edit
        <td>
          <form
            method="post"
            action=@{AdminR $ AdminLanguageSectionDeleteR languageSectionId}>
            ^{token}
            <button .btn .btn-danger
              type="submit">
              Delete
        <td>
          <a .btn .btn-default href=@{AdminR $ AdminLanguageSectionOverviewR languageSectionId}>
            Overview

