^{navigationBar}

<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
          Export
  <div .panel-body>
    <form
      method="post"
      onclick="return confirm('WARNING: You are about to export all raw data out from the registration tool. This data is highly sensitive. Please make sure that you know what you are doing to keep the data safe as it leaves its secure location. Keep the data secure, private, and make sure to delete the data when you are done with it.');"
      action=@{AdminR $ AdminExportRawDataR}>
      ^{token}
      <button .btn .btn-default
        type="submit">
        <span class="fa fa-database">
        Export Raw data


<ul .nav .nav-tabs>
  $maybe ((ix1, (title1, _)), tss) <- uncons tables
    <li .active>
      <a href="##{ix1}" data-toggle="tab">
        #{title1}
    $forall (ix, (title, _)) <- tss
      <li>
        <a href="##{ix}" data-toggle="tab">
          #{title}

<div .tab-content>
  $maybe ((ix1, (title1, t1)), tss) <- uncons tables
    <div .tab-pane .active id="#{ix1}">
      <h1> #{title1}
      ^{t1}

    $forall (ix, (title, t)) <- tss
      <div .tab-pane id="#{ix}">
        <h1> #{title}
        ^{t}
