<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-language" aria-hidden="true">
      Register Language Section
  <div .panel-body>
    <form
      .form
      method="post"
      action=@{AdminR $ AdminRegisterLanguageSectionR}
      enctype=#{formEnctype}>
      ^{formWidget}
      <div .form-group>
        <button
          type="submit"
          class="btn btn-primary">
            Register Language Section
