$case env 
  $of EnvManualTesting
    <div .panel .panel-default>
      <div .panel-heading>
        <h3 .panel-title>
          <i .fa .fa-eur aria-hidden="true">
          Checkout Choose Debug Panel
      <ul .list-group>
        <li .list-group-item>
          Costs Input
          <pre>
            #{ppShow ci}
        <li .list-group-item>
          Abstract Costs
          <pre>
            #{ppShow ac}
        <li .list-group-item>
          Environment
          <pre>
            #{ppShow env}
        <li .list-group-item>
          Cost config
          <pre>
            #{ppShow conf}
        <li .list-group-item>
          Calculated Costs
          <pre>
            #{ppShow cc}
        <li .list-group-item>
          Choices
          <pre>
            #{ppShow choices}
        <li .list-group-item>
          Proposed consequences
          <pre>
            #{ppShow proposedConsequences}
  $of _
