<div .panel .panel-default>
  <div .panel-heading>
    <div .panel-title>
      <i class="fa fa-user-md" aria-hidden="true">
      Doctors

  <div .panel-body>
    <a .btn .btn-default href=@{RegisterDoctorR}>
      Register a doctor

  <table
    .table>
    <tr>
      <th> First Name
      <th> Last Name
      <th .col-md-1>
      <th .col-md-1>
    $forall (Entity doctorId doctor) <- doctors
      <tr>
        <td>
          #{doctorFirstName doctor}
        <td>
          #{doctorLastName doctor}
        <td>
          <a .btn .btn-default href=@{DoctorR doctorId}>
            Edit
        <td>
          <form
            method="post"
            onclick="return confirm('Are you sure you want to deregister this doctor? This cannot be undone.');"
            action=@{DeregisterDoctorR doctorId}>
            ^{token}
            <button .btn .btn-default .btn-danger
              type="submit">
              Deregister


