<html>
  <head>
  <body>
    <h1> PAESMOL Registration: Payment Received
    <p>
      Payment on #{defaultFormatUTCTime $ checkoutTimestamp $ checkoutOverviewCheckout coo}
    <table>
      <tr>
        <th> Description
        <th> Amount
      $forall (Entity _ yfp) <- checkoutOverviewYearlyFeePayments coo
        <tr>
          <td>
            Yearly fee payment for #{schoolYearText $ yearlyFeePaymentSchoolyear yfp}
          <td>
            #{fmtAmount $ yearlyFeePaymentAmount yfp}
      $forall (Entity _ tp) <- checkoutOverviewTransportPayments coo
        <tr>
          <td>
            Transport payment
          <td>
            #{fmtAmount $ transportPaymentAmount tp}
      $forall (Entity _ tp) <- checkoutOverviewOccasionalTransportPayments coo
        <tr>
          <td>
            Occasional Transport payment
          <td>
            #{fmtAmount $ occasionalTransportPaymentAmount tp}
      $forall (Entity _ tp) <- checkoutOverviewDaycarePayments coo
        <tr>
          <td>
            Daycare payment
          <td>
            #{fmtAmount $ daycarePaymentAmount tp}
      $forall (Entity _ tp) <- checkoutOverviewDaycareActivityPayments coo
        <tr>
          <td>
            Daycare Activity payment
          <td>
            #{fmtAmount $ daycareActivityPaymentAmount tp}
      $forall (Entity _ tp) <- checkoutOverviewOccasionalDaycarePayments coo
        <tr>
          <td>
            Occasional payment
          <td>
            #{fmtAmount $ occasionalDaycarePaymentAmount tp}
      $forall (Entity _ d) <- checkoutOverviewDiscounts coo
        <tr>
          <td>
            Discount
              $maybe dr <- discountReason d
                : #{dr}
          <td>
            #{fmtAmount $ discountAmount d}
      <tr>
        <td>
          Total
        <td>
          #{fmtAmount $ checkoutAmount $ checkoutOverviewCheckout coo}
